{%- comment -%}TODO: convert to editable section (checking with client) {%- endcomment -%}
<main class="site-content" role="main">
  <div Aria-Label="Help Box" class="site-container--blog-help">
    <section role="Presentation" class="blog-help__bottom-links site-container site-flexbox">
     {% comment %} <a role="Button" Aria-label="Product Documentation Button" href="/pages/product-documentation" title="Product Documentation" class="bottom-link column25">
        <!--pdf icon-->
        <svg viewBox="0 0 44.57 59.73" xmlns="http://www.w3.org/2000/svg"><path d="m14.53 1-13.53 13.53v44.2h42.57v-57.73z" fill="none" stroke="#333" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"/><path d="m1 14.53h13.55v-13.53" fill="none" stroke="#333" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"/><text fill="#333" font-family="DIN-Bold, DIN" font-size="14" font-weight="700" letter-spacing="-.02em" transform="translate(10.42 33.86)">PDF</text></svg>
        <h3 Role="Heading" Aria-label="Downloadable Files" >Download Files</h3>
        <p>Save instructions as a file for future reference.</p>
      </a> {% endcomment %}
      <a role="Button" Aria-Label="Product Videos Button" href="/pages/videos" title="Product Videos" class="bottom-link column25">
        <!--round play icon-->
        <svg viewBox="0 0 54.35 54.35" xmlns="http://www.w3.org/2000/svg"><g fill="none" stroke="#333" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"><path d="m23.17 41.38v-28.4l14.2 14.2z"/><circle cx="27.18" cy="27.18" r="26.18"/></g></svg>
        <h3 role="Heading" Aria-label="Product Videos" >Product Videos</h3>
        <p>Watch all of our product videos in one place.</p>
      </a>
      <a role="Button" Aria-Label="Frequently Asked Questions Button" href="/pages/faqs" title="FAQs" class="bottom-link column25">
        <!--comments icon-->
        <svg viewBox="0 0 76.44 56.45" xmlns="http://www.w3.org/2000/svg"><g fill="none" stroke="#333" stroke-width="2"><path d="m51.59 21.66c0-11.41-11.32-20.66-25.29-20.66s-25.3 9.25-25.3 20.66c0 11.05 10.62 20.08 24 20.64l13.36 7.82v-10.3c7.89-3.5 13.23-10.32 13.23-18.16z" stroke-linecap="round" stroke-linejoin="round"/><path d="m75.44 34.88c0-7-7.81-12.67-17.44-12.67s-17.44 5.67-17.44 12.67c0 4.24 2.88 8 7.29 10.29v10.28l11.45-8c9.02-.45 16.14-5.89 16.14-12.57z" stroke-linecap="round" stroke-linejoin="round"/><path d="m18.53 13.92a8.13 8.13 0 0 1 6.68-3.24c4.31 0 7.81 3 7.81 6.73s-3.5 6.73-7.81 6.73v4.3" stroke-miterlimit="10"/><path d="m25.21 31.03v2.33" stroke-linejoin="round"/></g></svg>
        <h3 role="Heading" Aria-Label="Frequenty Asked Questions" >FAQs</h3>
        <p>Quickly find answers to common questions.</p>
      </a>
      <a role="Button" Aria-Label="Contact Us Button" href="/pages/contact-us" title="Get Help" class="bottom-link column25">
        <!--phone icon-->
        <svg viewBox="0 0 66.41 57.25" xmlns="http://www.w3.org/2000/svg"><g fill="none" stroke="#333" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"><path d="m42.77 7.37h-41.77v40.5h11.16"/><path d="m39.61 47.87h25.8v-40.5h-13.66"/><path d="m1 15.12h39.79"/><path d="m37 32.4a54.34 54.34 0 0 1 -9.33 7.54 3.66 3.66 0 0 1 -4.56-.5l-3.24-3.23a4.18 4.18 0 0 0 -5.92 0l-7.14 7.13a4.18 4.18 0 0 0 0 5.92l5.38 5.39a5.5 5.5 0 0 0 4.3 1.58 48.14 48.14 0 0 0 30.11-14.23 48.14 48.14 0 0 0 14.21-30.09 5.47 5.47 0 0 0 -1.59-4.3l-5.38-5.38a4.19 4.19 0 0 0 -5.93 0l-7.12 7.12a4.19 4.19 0 0 0 0 5.93l3.21 3.23a3.66 3.66 0 0 1 .5 4.56 54.34 54.34 0 0 1 -7.5 9.33z"/></g></svg>
        <h3 role="Heading" Aria-Label="Get Help">Get Help</h3>
        <p>Contact us for additional product assistance.</p>
      </a>
    </section>
  </div>
</main>