<section class="hero partner-with-us" {{ block.shopify_attributes }}>
  <figure class="hero__image lazy" data-src="{{ block.settings.bkgd_image | img_url: '3000x' }}"></figure>
  <div class="hero__heading">
    <div class="hero__heading-text">
      <span>/ Partner With Us</span>
      <h1>Let's work together to get everyone to repair their gear.</h1>
      <a href="{{ block.settings.url }}" class="btn btn-alt-white" title="Go to Learn More">Learn More</a>
    </div>
  </div>
</section>
