{% schema %}
{
  "name": "Collections Listing",
  "max_blocks": 12,
  "settings": [
  {
    "type": "text",
    "id": "heading",
    "label": "Heading"
  },
  {
    "type": "text",
    "id": "limit",
    "label": "Amount of collections to show"
  },
  {
    "type": "select",
    "label": "Collections Per Row",
    "id": "collections_per_row",
    "options": [
      {"label":"2", "value":"column50"},
      {"label":"3", "value":"column33"},
      {"label":"4", "value":"column25"}
    ],
    "default": "column33"
  }],
  "blocks": [
    {
      "type": "collection",
      "name": "Collection",
      "settings": [
        {
          "label": "Collection",
          "id": "collection",
          "type": "collection"
        }
      ]
    }
  ],
  "presets": [{
    "name": "Collections Listing",
    "category": "Collection",
    "blocks": [
      {
        "type": "collection"
      },
      {
        "type": "collection"
      },
      {
        "type": "collection"
      }
    ]
  }]
}
{% endschema %}
{% stylesheet %}
.section--collections-listing {padding:2em 0;}
.section--collections-listing .collection {margin-bottom:1em;}
{% endstylesheet %}
{% assign featured_collection = section.settings.collection %}
{% assign limit = section.settings.limit %}
<section class="section section--index section--collections-listing">
  <div class="section-content">
    <div class="site-container">
      <header>
        <h2>{{ section.settings.heading }}</h2>
      </header>
      <div class="site-flexbox grid grid--gutters collections">
        {% for block in section.blocks limit:limit %}
        {% include 'collection-loop' %}
        {% endfor %}
      </div><!-- collections -->
    </div><!-- site-container -->
  </div><!-- section-content -->
</section><!-- section -->