<main class="site-content site-content--no-sidear">
  {% include 'page-utility' %}
  <div class="site-container">
    <div class="page-main site-flexbox grid grid--gutters">
      <div class="column50">
        <div id="customer-login-form">
          <div class="page-header">
            <h3>Login to your account</h3>
          </div><!-- page-header -->
          {% form 'customer_login' %}
          <input type="hidden" name="checkout_url" id="redirect-url" value="" />
          {{ form.errors | default_errors }}
          <div class="form__fieldrow">
            <label for="customer_email" class="login">Email Address</label><br>
            <input type="email" value="" name="customer[email]" id="customer_email" size="30" />
          </div><!-- fiedset -->
          {% if form.password_needed %}
          <div class="form__fieldrow">
            <label for="customer_password" class="login">Password</label><br>
            <input type="password" value="" name="customer[password]" id="customer_password" class="password" size="30" /><br>
            <a href="#" id="forgot-password" class="form__note" onclick="showRecoverPasswordForm();return false;">Forgot password?</a>
          </div>
          {% endif %}
          <div class="form__actiions">
            <input class="btn" type="submit" value="Sign In" />
            <span class="form__note">or <a href="{{ shop.url }}">Return to Store</a></span>
          </div><!-- fiedset -->
          {% endform %}
        </div><!-- customer-login-form -->
        <div id="recover-password-form" style='display:none'>
          <p>We will send you an email to reset your password.</p>
          {% form 'recover_customer_password' %}
          <input type="hidden" name="checkout_url" id="redirect-url" value="" />
          {{ form.errors | default_errors }}
          <div class="form__fieldrow">
            <label for="email" >Email Address</label><br>
            <input type="email" value="" size="30" name="email" id="recover-email" />
          </div><!-- fiedset -->
          <div class="form__actions">
            <input class="btn" type="submit" value="Submit" />
            <span class="form__note">or <a href="#" onclick="hideRecoverPasswordForm();return false;">Cancel</a></span>
          </div><!-- fiedset -->
          {% endform %}
        </div><!-- recover-password-form -->
        <script>
          document.addEventListener('DOMContentLoaded', function () {
            (function($){
              $.extend({
                getUrlVars: function(){
                  var vars = [], hash;
                  var hashes = window.location.href.slice(window.location.href.indexOf('?') + 1).split('&');
                  for(var i = 0; i < hashes.length; i++)
                  {
                    hash = hashes[i].split('=');
                    vars.push(hash[0]);
                    vars[hash[0]] = hash[1];
                  }
                  return vars;
                },
                getUrlVar: function(name){
                  return $.getUrlVars()[name];
                }
              });

              if (window.location.href.indexOf("next") > -1) {
                var redirect = $.getUrlVar('next');
                if (window.location.href.indexOf("view") > -1) {
                  var view = $.getUrlVar('view');
                  $('#redirect-url').val(redirect+"?view="+view);
                }
                else {
                  $('#redirect-url').val(redirect);
                }

              }
            })(jQuery);
          });
          
          function showRecoverPasswordForm() {
            document.getElementById('recover-password-form').style.display = 'inline-block';
            document.getElementById('customer-login-form').style.display='none';
          }

          function hideRecoverPasswordForm() {
            document.getElementById('recover-password-form').style.display = 'none';
            document.getElementById('customer-login-form').style.display = 'inline-block';
          }

          if (window.location.hash == '#recover') { showRecoverPasswordForm() }
        </script>
      </div><!-- customer-left -->
      <div class="column50">
        {% if shop.checkout.guest_login %}
        <div id="guest-form" class="textile">
          <h3>Guest Login</h3>
          {% form 'guest_login' %}
          <div class="form__fieldrow">
            <input class="btn" type="submit" value="Guest Checkout" />
          </div>
          {% endform %}
        </div><!-- guest-form -->
        <h3>Register</h3>
        <p>You will also be given the opportunity to register an account after completing your purchase.</p>
        {% endif %}
        {% unless shop.checkout.guest_login %}
        <h3>Register Today</h3>
        <p>Register your account to receive promotional news and access to a faster checkout process.</p>
        <a href="/account/register" title="Register Today" class="btn btn-secondary">Register Today</a>
        {% endunless %}
      </div><!-- customer-right -->
    </div><!-- page-main -->
  </div><!-- site-container -->
</main><!-- site-content -->