<div id="shopify-section-lights-instagram" class="shopify-section">
  <section id="re-s-media-timeline" class="section section--instagram re-s-media-timeline--carousel">
    <header class="site-container center">
      <h3>Light it Up.</h3>
      <div><p>Use <strong><a href="https://www.instagram.com/explore/tags/GearAidLights/" target="_blank">#GearAidLights</a></strong> on Instagram to share your visit!</p></div>
    </header>

  <div id="rebase__social-1319462164"><noscript class="rb__widget"><div>Please enable JavaScript in your browser to experience all the custom features of our site.</div></noscript></div>
  <script>var REBASE=REBASE||{};REBASE.social=REBASE.social||{};REBASE.social.configs=REBASE.social.configs||[];REBASE.social.configs.push({feed_id:'gear-aid-lights',html_id:'1319462164',skin:'slider'});</script>
  <script src="//rebase-api.global.ssl.fastly.net/production/1/social.min.js" defer></script>
  </section> 
</div>