{% include 'page-utility' %}
<div class="site-container">
  <section class="page-main">
    <div class="page-content">
      <h1 class="super">How can we<br/> help you?</h1>
      {{ page.content }}
      <div id="support-options" class="site-flexbox grid grid--gutters">
        <div class="column33">
          <a href="/blogs/learn">FAQs</a>
        </div>
        <div class="column33">
          <a href="/pages/ordering-information">Ordering Information</a>
        </div>
        <div class="column33">
          <a href="/pages/terms-and-conditions">Policies &amp; Returns</a>
        </div>
      </div>
      <hr/>
    </div><!-- page-content -->
  </section><!-- page-main -->
</div><!-- site-container -->