<script>window.__tpt_full_page = 1</script><script class='tpt_dynamic'>function dynamicAttach(itemId, containerId, override){
    console.log(itemId, containerId);
    var slt= '.spb-item.type_actual_statement.spb-item-id_'+itemId;
    var targetElement = document.querySelector(slt);
    var containerElement = document.querySelector('.'+containerId);
    console.log(targetElement, containerElement);
    if(targetElement && containerElement && (!targetElement.innerHTML.length || override)){
        console.log('Found container element');
        var tpt_rerun = containerElement.querySelectorAll('script.tpt_rerun, script.tpt_inject_script');
        targetElement.innerHTML = containerElement.innerHTML;
        tpt_rerun.forEach(function(t){Function(t.innerText)()});
    }else if (targetElement && containerElement && targetElement.innerHTML.length){
        console.log('Already attached', slt);
    }
    if(!window._tapita_ssr_ijt_obj){
        window._tapita_ssr_ijt_obj = {};
    }
    window._tapita_ssr_ijt_obj[slt] = function(){return dynamicAttach(itemId, containerId, override)};
}</script>
<script>window._issolate_tapita_hamburger = true;</script>

        <style>
                .type_actual_statement{width: 100%}
        </style>
        {% assign content = page.metafields.tapita["pgt-6d4bcfa"] %}
        
        <div id="tapita-page-main-content" style="min-height: 100vh; display: block">
          <h1 class="tapita-placeholder" style="display:none;">
            {{ page.title | escape }}
            "", 1
          </h1>
        </div>

        
        <div class="rte">
            <script>
                try {
                    var _tpt_insigna = "1cd6c6868e89a7ffa875ef469b554acd";
                    if(!globalThis._tpt_pbds){
                        globalThis._tpt_pbds = [];
                    }
                    document.querySelectorAll("meta[name='description']").forEach(function(t){t.setAttribute("data-react-helmet",true)});
                }catch(e){
                    console.warn(e);
                }
                var tapitacss = `#shopify-section-tapita-main-page, #shopify-section-tapita-main-home { min-height: 100vh; } .main.content { max-width: unset; } .spb-item-root {width: 100%;} h1.main-page-title.page-title {display: none;} .spb-item.type_text {overflow-y: hidden;} `;
                var tapitahead = document.head || document.getElementsByTagName("head")[0];
                var tapitastyle = document.createElement("style");

                tapitastyle.type = "text/css";
                if (tapitastyle.styleSheet){
                    tapitastyle.styleSheet.cssText = tapitacss;
                } else {
                    tapitastyle.appendChild(document.createTextNode(tapitacss));
                }
                tapitastyle.class="tapita-custom-css";
                 
                var tapitajs = ``;
                var tapitascript = document.createElement("script");
                tapitascript.appendChild(document.createTextNode(tapitajs));
                tapitascript.defer = true;
                tapitascript.class="tapita-custom-css";

                tapitahead.appendChild(tapitastyle);
                tapitahead.appendChild(tapitascript);
                
            </script>
            
            {{ 'tapita-cdn-assets-1.6.18.js' | asset_url | script_tag }}
             
            <script defer>
                var tapita_counter = 0;
                var possibleMainTargetQuery = [
                    
                    "#tapita-page-main-content",
                    ".normal_main_content",
                    "#MainContent",
                    "shopify-section-tapita-main-page",
                    "shopify-section-tapita-main-home",
                    "main",
                ];
              
                var currentMain = null;
                for (const selector of possibleMainTargetQuery) {
                    currentMain = document.querySelector(selector);
                    if(currentMain){
                        break;
                    }
                }
                var injector = setInterval(function () {
                    var idToRender = false;
                    var mainTarget = null;
                    for (const selector of possibleMainTargetQuery) {
                        mainTarget = document.querySelector(selector);
                        if(mainTarget){
                            break;
                        }
                    }
                    if(currentMain && currentMain.id !=="MainContent"){
                        currentMain.id = "MainContentTapita";
                        idToRender = "MainContentTapita";
                    }
                    
                    if (!idToRender)
                        return;

                    tapita_counter += 1;
                    if (globalThis.PageBuilderComponent) {
                        var tapitaSections = document.querySelectorAll(".tapitaSection, .spb-customerhtml-serverrender");
                        currentMain = null;
                        function tptPBD(){
                            PageBuilderComponent.renderForIdWithProps(idToRender, {
                            endPoint: "https://tapita.io/pb/graphql/",
                            mode: "shopify",
                            lazyloadPlaceHolder: "",
                            formatMessage: globalThis._rms_translate,
                            _translateParagraph: true,
                            _translateSEO: true,
                            _translatePlaceholder: true,
                            pageData: {"url_path":"\/worldwide-show-2023","original_url_path":"\/worldwide-show-2023","type_id":0,"priority":20,"entity_id":17860,"name":"Worldwide Show 2023","status":1,"masked_id":"2386QiXZvISS3QovklOo2AHk1673476937","custom_css":".site-weapper {height: fit-content!important;}\n#MainContentTapita {min-height:fit-content!important;}\n#pbitm-id-2 {font-family:FFDINWebBlack,Helvetica Neue,Helvetica,Arial,sans-serif!important;}\n#pbitm-id-3 {font-family:Bitter,serif!important;}\n#pbitm-id-9 {font-family:FFDINWebMedium,Helvetica Neue,Helvetica,Arial,sans-serif!important;}\n#pbitm-id-1 {padding-top:-10px!important;}","custom_js":null,"keywords":null,"title":"Worldwide Show 2023 | GEAR AID","desc":"","is_rtl":0,"storeview_visibility":"","publish_items":"[{\"entity_id\":9,\"page_id\":\"17860\",\"status\":1,\"styles\":\"{\\\"flexDirection\\\":\\\"row\\\",\\\"backgroundColor\\\":\\\"#ef4623\\\",\\\"color\\\":\\\"#ffffff\\\",\\\"border\\\":\\\"none\\\",\\\"borderRadius\\\":0,\\\"paddingTop\\\":\\\"10px\\\",\\\"paddingBottom\\\":\\\"10px\\\",\\\"paddingLeft\\\":\\\"20px\\\",\\\"paddingRight\\\":\\\"20px\\\",\\\"textAlign\\\":\\\"center\\\",\\\"marginTop\\\":\\\"15px\\\",\\\"marginBottom\\\":\\\"15px\\\",\\\"cursor\\\":\\\"pointer\\\",\\\"display\\\":\\\"flex\\\",\\\"alignItems\\\":\\\"center\\\",\\\"justifyContent\\\":\\\"center\\\",\\\"fontFamily\\\":\\\"inherit\\\",\\\"maxWidth\\\":\\\"1280px\\\",\\\"marginLeft\\\":\\\"auto\\\",\\\"marginRight\\\":\\\"auto\\\",\\\"fontSize\\\":\\\"25px\\\",\\\"lineHeight\\\":\\\"40px\\\",\\\"l_fontSize\\\":\\\"25px\\\",\\\"l_lineHeight\\\":\\\"40px\\\",\\\"t_fontSize\\\":\\\"20px\\\",\\\"t_lineHeight\\\":\\\"25px\\\",\\\"m_fontSize\\\":\\\"14px\\\",\\\"m_lineHeight\\\":\\\"16px\\\",\\\"m_fontWeight\\\":700,\\\"l_fontWeight\\\":600,\\\"t_fontWeight\\\":600}\",\"data\":\"{\\\"icon_position\\\":\\\"left\\\",\\\"openUrl\\\":\\\"https:\\\\\\\/\\\\\\\/cdn.shopify.com\\\\\\\/s\\\\\\\/files\\\\\\\/1\\\\\\\/1487\\\\\\\/5048\\\\\\\/files\\\\\\\/WOLRDWIDE_SHOW_SPECIAL_2023.xlsx?v=1673477090\\\",\\\"openUrlInNewTab\\\":1}\",\"name\":\"Price List & Show Order Form\",\"tag_id\":\"pbi_b21CYTUxNjY2OTU3NDg1NzEz_85713\",\"class_name\":\"\",\"type\":\"button\",\"visibility\":\"\",\"sort_order\":20,\"parent_id\":11,\"storeview_visibility\":0},{\"entity_id\":3,\"page_id\":\"17860\",\"status\":1,\"styles\":\"{\\\"widthPercent\\\":100,\\\"fontFamily\\\":\\\"inherit\\\",\\\"maxWidth\\\":\\\"1280px\\\",\\\"marginLeft\\\":\\\"auto\\\",\\\"marginRight\\\":\\\"auto\\\",\\\"textAlign\\\":\\\"center\\\",\\\"fontSize\\\":\\\"24px\\\",\\\"lineHeight\\\":\\\"30px\\\"}\",\"data\":\"{\\\"textTag\\\":\\\"h2\\\"}\",\"name\":\"Worldwide Show 2023 Price List \\\/ Order Form & Terms\",\"tag_id\":\"pbi_ZXAwWU8xNjY2OTU3MzQxODAx_41801\",\"class_name\":\"\",\"type\":\"text\",\"visibility\":\"\",\"sort_order\":30,\"parent_id\":6,\"storeview_visibility\":0},{\"entity_id\":2,\"page_id\":\"17860\",\"status\":1,\"styles\":\"{\\\"widthPercent\\\":100,\\\"fontFamily\\\":\\\"inherit\\\",\\\"maxWidth\\\":\\\"1280px\\\",\\\"marginLeft\\\":\\\"auto\\\",\\\"marginRight\\\":\\\"auto\\\",\\\"fontSize\\\":\\\"42.5px\\\",\\\"lineHeight\\\":\\\"60px\\\",\\\"l_fontSize\\\":\\\"42.5px\\\",\\\"l_lineHeight\\\":\\\"60px\\\",\\\"color\\\":\\\"#ffffff\\\",\\\"t_fontSize\\\":\\\"30px\\\",\\\"t_lineHeight\\\":\\\"42.5px\\\",\\\"m_fontSize\\\":\\\"30px\\\",\\\"m_lineHeight\\\":\\\"35px\\\",\\\"fontWeight\\\":700}\",\"data\":\"{\\\"textTag\\\":\\\"h1\\\"}\",\"name\":\"WORLDWIDE SHOW 2023\",\"tag_id\":\"pbi_eWlJaUsxNjY2OTU1ODY1MDQ1_65045\",\"class_name\":\"\",\"type\":\"text\",\"visibility\":\"\",\"sort_order\":40,\"parent_id\":1,\"storeview_visibility\":0},{\"entity_id\":1,\"page_id\":\"17860\",\"status\":1,\"styles\":\"{\\\"flexDirection\\\":\\\"row\\\",\\\"widthPercent\\\":100,\\\"flexShrink\\\":1,\\\"paddingTop\\\":100,\\\"paddingBottom\\\":40,\\\"paddingLeft\\\":20,\\\"paddingRight\\\":20,\\\"minHeight\\\":100,\\\"justifyContent\\\":\\\"center\\\",\\\"backgroundImage\\\":\\\"url(https:\\\\\\\/\\\\\\\/d3lks6njuyuuik.cloudfront.net\\\\\\\/pb\\\\\\\/pub\\\\\\\/media\\\\\\\/spb\\\\\\\/usr\\\\\\\/2386\\\\\\\/oti\\\\\\\/1673573492428\\\\\\\/GearAid-Show-Banner.jpg)\\\",\\\"fontSize\\\":\\\"42.5px\\\",\\\"fontWeight\\\":600,\\\"lineHeight\\\":\\\"60px\\\",\\\"backgroundPositionX\\\":\\\"center\\\",\\\"backgroundPositionY\\\":\\\"center\\\",\\\"boxShadow\\\":\\\"0px 0px 0px 0px \\\",\\\"boxShadowBlur\\\":0,\\\"t_paddingTop\\\":70,\\\"m_paddingTop\\\":50,\\\"alignItems\\\":\\\"center\\\",\\\"flexWrap\\\":\\\"wrap\\\",\\\"marginTop\\\":-10,\\\"backgroundSize\\\":\\\"cover\\\"}\",\"data\":\"{}\",\"name\":\"\",\"tag_id\":\"pbi_cGYzdlcxNjY2OTU1MjcwNTQw_70540\",\"class_name\":\"\",\"type\":\"container\",\"visibility\":\"\",\"sort_order\":50,\"parent_id\":0,\"storeview_visibility\":0},{\"entity_id\":6,\"page_id\":\"17860\",\"status\":1,\"styles\":\"{\\\"flexDirection\\\":\\\"row\\\",\\\"widthPercent\\\":100,\\\"flexShrink\\\":1,\\\"paddingTop\\\":\\\"20px\\\",\\\"paddingBottom\\\":\\\"20px\\\",\\\"paddingLeft\\\":\\\"15px\\\",\\\"paddingRight\\\":\\\"15px\\\",\\\"minHeight\\\":100,\\\"justifyContent\\\":\\\"center\\\"}\",\"data\":\"{}\",\"name\":\"\",\"tag_id\":\"pbi_RmpvNEwxNjY2OTU3MzMxNzUw_31750\",\"class_name\":\"\",\"type\":\"container\",\"visibility\":\"\",\"sort_order\":60,\"parent_id\":0,\"storeview_visibility\":0},{\"entity_id\":11,\"page_id\":\"17860\",\"status\":1,\"styles\":\"{\\\"flexDirection\\\":\\\"row\\\",\\\"widthPercent\\\":100,\\\"flexShrink\\\":1,\\\"paddingTop\\\":0,\\\"paddingBottom\\\":\\\"20px\\\",\\\"paddingLeft\\\":\\\"15px\\\",\\\"paddingRight\\\":\\\"15px\\\",\\\"minHeight\\\":100,\\\"justifyContent\\\":\\\"center\\\"}\",\"data\":\"{}\",\"name\":\"\",\"tag_id\":\"pbi_UUhPUWUxNjY2OTU3NjQ1OTky_45992\",\"class_name\":\"\",\"type\":\"container\",\"visibility\":\"\",\"sort_order\":70,\"parent_id\":6,\"storeview_visibility\":0}]","updated_at":"2023-01-16 14:39:45","image":null}
                            });
                        }
                        globalThis._tpt_pbds.push(tptPBD);
                        tptPBD();
                        
        function _tapita_ssr_cti(){window._tapita_ssr_ijt_obj && Object.values(window._tapita_ssr_ijt_obj||{}).forEach(function (t){t&&t()})};
        _tapita_ssr_cti();
        if(!globalThis._tpt_pbds){globalThis._tpt_pbds=[]};
        globalThis._tpt_pbds.push(_tapita_ssr_cti);
        window.addEventListener("resize", ()=>{_tapita_ssr_cti()});
        ;
                        var documentFragment = document.createDocumentFragment();
                        tapitaSections.forEach(function(el){documentFragment.appendChild(el)});
                        document.querySelector("#" + idToRender).appendChild(documentFragment);
                        tapitaSections = null;
                        clearInterval(injector);
                    } else if (tapita_counter > 60) {
                        clearInterval(injector);
                    }
                }, 100);
            </script>
        </div>

        <div class="tel">
        {% for field in content.value %}
          {% if field.type == "product_grid" %}
          {% render 'tapita-product-grid',
                    product_target_ident: field.settings.product_target_ident,
                    product_handle: field.settings.product-handle,
                    product_handles: field.settings.product-handles,
                    product_ident: field.settings.product_ident,
                    product_title: field.settings.product-title,
                    product_limit: field.settings.product-limit,
          %}
          {% elsif field.type == "product_scroll" %}
          {% render 'tapita-product-list',
                    product_target_ident: field.settings.product_target_ident,
                    product_handle: field.settings.product-handle,
                    product_handles: field.settings.product-handles,
                    product_ident: field.settings.product_ident,
                    product_title: field.settings.product-title,
                    product_limit: field.settings.product-limit,
          %}
          {% endif %}
          {% endfor %}
        </div>
        